/* Mukul Kumar - 10/1/2026 */

span {
    display: inline-block;

}
.container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin: 10px 0;
  }
.left-text {
    width: 130px;
    font-weight: bold;
}
.right-stacked {
    display: flex;
    flex-direction: column;
}
  .right-stacked > div > span:first-child {
    width: 160px;
    padding: 4px 0;
    font-weight: bold;
}

  .right-stacked > div > span:last-child {
    padding: 4px 0;
}

  hr {
    margin: 10px 0;
}
