<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Designing and Programming a Payroll System with Object-Oriented Principles</title>
    {#    link the main.css using jinja's url_for function#}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<h1> I211 Information Infrastructure II </h1>
<hr>
<h2> Designing and Programming a Payroll System with Object-Oriented Principles</h2>
{% for payable in data %}
<div class="container">
  <div class="left-text">
    Invoice
  </div>
  <div class="right-stacked">
    <span>Part Name: {{ payable  }}</span>
    <span>Quantity: </span>
    <span>Price: </span>
    <span>Payment Amount: </span>
  </div>
</div>
{% endfor %}
</body>

</html>